spring:
  application:
    name: drapz-backend

  datasource:
    url: jdbc:postgresql://80.225.94.110:5433/drapz_db
    username: drapz_user
    password: drapz_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080
  servlet:
    context-path: /api


logging:
  level:
    root: INFO
    com.drapz: DEBUG

app:
  jwt:
    secret: ${JWT_SECRET:aSuperSecureAndExtremelyLongSecretKeyThatIsAtLeastSixtyFourCharactersLongToSatisfyHS512Requiremen}
    expiration: ${JWT_EXPIRATION:86400000}

  stripe:
    api-key: ${STRIPE_API_KEY:sk_test_51SaF2FLT5lF0pHMtA86yanKbSyXcXhZMaPB5DaJULFgoXPyGZbPuCFlCbKAoaGVsus2cDzzPQuc8oC5XzvZS1s3500m1YneASS}
    webhook-secret: ${STRIPE_WEBHOOK_SECRET:test}

springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger-ui.html
    enabled: true
